typings
Microsoft.IIS.WebManager/app/**/*.js
Microsoft.IIS.WebManager/app/**/*.map
node_modules
jspm_packages
bower_components
bin
obj
**.suo
.vs/
dist
**.user
assets
artifacts
Microsoft.IIS.WebManager.Host/build/*.Targets
