typings
src/Microsoft.IIS.WebManager/index.html
src/Microsoft.IIS.WebManager/app/**/*.js
src/Microsoft.IIS.WebManager/app/**/*.map
node_modules
jspm_packages
bower_components
bin
obj
**.suo
.vs/
dist
**.user
assets
artifacts
src/Microsoft.IIS.WebManager.Middleware/build/*.props
