html,body {
    height: 100%;
    overflow-x:hidden;
}

body {
    position: relative;
}

ul {
    padding-left: 0;
}

li {    
    list-style: none;
    list-style-position:inside;
}

h2 {
    font-size: 20px;
}

h3 {
    margin-top: 10px;
}

a,
a:hover,
a:focus{
    text-decoration: none;
}

div:focus,
label:focus,
a:focus,
button:focus,
.focusable:focus {
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: #000;
    text-decoration: underline;
}

.path {
    max-width: 800px;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

fieldset {
    padding-top: 5px;
    padding-bottom: 15px;
}

fieldset > label {
    margin-bottom: 10px;
    display: block;
}

label.field {
    padding-top: 5px;
    display: block;
    margin-bottom: 10px;
}

fieldset .checkbox {
    margin: 0;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top-style: dotted;
    border-top-width: 2px;
}


span.form-control {
    border: none;
    box-shadow: none;
    padding-left: 0;
    background: none;
}

.right {
    float: right;
}

.anchor-right {
    float: right;
    height: 34px;
}

.clear {
    clear: both;
}

.text-right {
    text-align: right;
}

.v-top {
    vertical-align: top;
}

.capitalize {
    text-transform:capitalize;
}

.side-border {
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 8px;
    padding: 6px 12px;
}

.form-control {
    border-radius: 0px;
}

.form-control[hidden] {
    display: none !important;
}

input[type='number'] {
    width: 120px;
    max-width: 100%;
}

input[type='radio'] {
    margin-right: 0.3em;
}

input:required:invalid:not(.unfocused),
input:not(:required).ng-invalid {
    border-left-width: 6px;
    border-left-style: solid;
}

.left-with-button {
    float: left;
    width: 80%;
}

.bttn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    padding: 4px 6px;
    font-size: 110%;
}

.bttn.bordered {
    border-style: solid;
    border-width: 1px;
}

.bttn.bordered:focus {
    border-style: none;
}

button {
    border-style: solid;
    border-width: 1px;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 110%;
    margin: 0.3em;
}

.bttn i.fa,
button i.fa {
    font-size: 120%;
    padding: 3px;
}

.bttn i,
button i {
    border: none;
}

button i + span {
    margin-left: 5px;
    margin-top: -8px;
}

button span {
    margin-top: -8px;
}

button::before,
button::after,
.bttn:before {
    font-family: FontAwesome;
    font-size: 120%;
    line-height: 22px;
    vertical-align: middle;
}

button:not(:empty)::before,
.bttn:not(:empty)::before {
    width: 22px;
    text-align:left;
    display: inline-block;
}

button:not(:empty)::after {
    width: 22px;
    text-align:right;
    display: inline-block;
}

.ico::before,
.ico::after {
    font-family: FontAwesome;
}

.ico::before {
    padding-right: 5px;
}

.ico::after {
    padding-left: 5px;
}

.inactive {
    pointer-events: none;
}

.no-border {
    border: none;
    background: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block !important;
}

.hide {
    visibility: hidden;
}

fieldset.inline-block {
    vertical-align: middle;
    margin-right: 40px;
}

.select-key {
    cursor: pointer;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.name {
    max-width: 380px;
    width: 100%;
}

.units {
    font-weight: normal;
    font-size: small;
}

.placeholder {
    font-weight: normal;
}

.supporting {
    font-size: 11px;
}

.support {
    font-size: 85%;
}

.italic {
    font-style: italic;
}

.fill {
    width: auto;
    overflow: hidden;
}

span.fill {
    display: block;
    overflow: hidden;
    width: auto;
}

span.fill > input {
    display: block;
}

button.right.select {
    width: 34px;
}

button.input,        
button.select {
    height: 34px;
}

.shadow {
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}

.install {
    display: inline-block;
    margin-bottom: 15px;
}

/*Data grids
***************************************************************/

.dataWrapper {
    display: table;
    border-collapse:collapse;
    width:100%;
}

.dataGroupHeader {
    display: table-header-group;
    font-weight: 600;
}

.dataGroupHeader .dataGroup {
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.dataGroupHeader .dataItem {
    padding: 22px 0 22px 12px;
}

.dataGroup {
    display: table-row;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:100%;
}

.dataItem {
    display: table-cell;
    vertical-align: middle;
    padding-left: 12px;
    overflow:hidden;
}

.dataItem.primary {
    background-size: 20px 20px;
    overflow:hidden;
    font-size: 16px;
}

.dataItemLabel, .clickThrough {
    display: none;
}

.actionGroup .actionItem {
    float: left;
    margin: 0 5px 0 12px;
    padding: 12px 0 20px 0;
    vertical-align: middle;
    text-align: center;
}

tooltip {
    margin-left: 5px;
}

.flags checkbox2 {
    display: block;
    margin-top: 4px;
}

.flags .checkbox {
    margin-top: 4px;
}

.flags .checkbox:first-of-type {
    margin-top: 0;
}

/*
    Data Grid
*/

.create {
    margin-bottom: 20px;
    display: block;
}

.grid-list-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-list-header label {
    padding-bottom: 5px;
    margin-bottom: 0;
    font-weight: 600;
    cursor: pointer;
}

.grid-list-header .orderby:after {
    font-family: FontAwesome;   
    padding-left: 10px;
    content: "\f0de"
}

.grid-list-header .orderby.desc:after {
    content: "\f0dd"
}

.actions {
    z-index: 1;
    top: 0;
    float: right;
    display: inline-flex;
}

.actions button,
.actions .bttn {
    border: none;
    display: inline-flex;
}

.actions button:empty::before {
    padding: 3px;
}

.grid-list .grid-item {
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-list .grid-item [class*="col-"] {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-item span, 
.grid-item small,
.grid-item a {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.grid-item small,
.grid-item a {
    display: block;
}

.grid-list .grid-item .valign {
    padding-top: 8px;
}

.grid-list .grid-item .editing, 
.grid-list .grid-item.background-editing .no-editing {
    display: none;
}

.grid-list .grid-item.background-editing .editing {
    display: inline-block;
}

.grid-list .grid-item.background-editing input.block {
    display: block;
}

.grid-list .grid-item.background-editing .always {
    display: inherit;
}

.grid-list .grid-item.background-editing .actions button.editing {
    display: inline-flex;
}

.grid-list .grid-item .overflow-visible{
    overflow: visible;
    text-overflow: inherit;
    white-space: inherit;
}

/* Action Selector */


.action-selector {
    position: relative;
}

.action-selectorselector {
    position:absolute;
    right:0;
    top: 32px;
}

.action-selector selector button {
    min-width: 125px;
    width: 100%;
    margin: 0px;
}

/* Disabled */

[disabled], 
[disabled] input,
[disabled] button,
[disabled] select {
    pointer-events: none;
}

[disabled] .collapse-heading {
    pointer-events: all;
}

[enabled]:not(.inactive),
input[enabled]:not(.inactive),
button[enabled]:not(.inactive),
select[enabled]:not(.inactive) {
    pointer-events: all;
}

.center {
    position: fixed;
    width: 600px;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-left: 15px;
    padding-right: 15px;
}

.feature-header {
    margin: 0;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

/* 
    Collapse
*/
.collapse {
    margin-bottom: 40px;
}

.collapse.inner,
.collapsing.inner {
    padding-left: 15px;
}

.collapse-heading {
    cursor: pointer;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.collapse-heading.no-border {
    border: none;
}

.collapse-heading h2:before,
.collapse-heading .head:before {
    font-family: FontAwesome;
    content: "\f078";
    width: 20px;
    text-align: left;
    display:inline-block;
    font-size: small;
}

.collapse-heading.collapsed h2:before,
.collapse-heading.collapsed .head:before {
    font-family: FontAwesome;
    content: "\f054";
    width: 20px;
    text-align: left;
    display:inline-block;
    font-size: small;
}

.loader {
    position:fixed;
    top:0;
    left:0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: table;
    text-align:center;
    z-index: -1030; 
}
 
.load-data {
    display:table-cell;
    vertical-align:middle;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
}
 
.loader.active {
    height: 100%;
    width: 100%;
}
 
.loader.active .load-data {
    visibility: visible;
    opacity: .5;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(8,end) 1600ms infinite;      
    animation: ellipsis steps(8,end) 1600ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
 
@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}
 
@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[tabindex="-1"] {
    outline: none;
}

.filter {
    padding: 0;
}

.filter::before {
    font-family: FontAwesome;
    content: "\f0b0";
    position: absolute;
    line-height: 32px;
    padding-right: 5px;
    right:0;
}

button.delete:before {
    content: "\f014";
}

button.cancel:before {
    content: "\f00d";
}

button.ok:before {
    content: "\f00c";
}

button.edit:before,
.bttn.edit:before {
    content: "\f040";
}

button.copy:before {
    content: "\f0c5";
}

button.refresh:before {
    content: "\f021";
}

button.new-root:before {
    content: "\f0a0";
}

button.new-file:before {
    content: "\f15b";
}

button.new-folder:before {
    content: "\f07c";
}

button.upload:before {
    content: "\f093";
}

button.comment:before {
    content: "\f0e5";
}

button.up:before {
    content: "\f176";
}

button.down:before {
    content: "\f175";
}

button.download:before {
    content: "\f019";
}

button.select:after {
    content: "\f141";
}

button.save:before {
    content: "\f0c7";
}

button.start:before {
    content: "\f04b";
}

button.stop:before {
    content: "\f04d";
}

button.go:before {
    content: "\f061";
}

button.add:before {
    content: "\f067";
}

button.exchange:before {
    content: "\f0ec";
}

button.browse:before {
    content: "\f0ac";
}

a.link:before {
    content: "\f08e";
    font-family: FontAwesome;
    line-height: 22px;
    vertical-align: middle;
}

button.more:before {
    content: "\f067";
}

button.less:before {
    content: "\f068";
}


/*
    SideBar
*/
.sidebar .items {
    width: 200px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    position: sticky;
    padding-bottom: 5px;
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
}

.sidebar .items li:not(.separator) {
    padding-left: 1em;
}

.sidebar .items li.separator {
    font-size: 11px;
    text-align: center;
    color: #ccc;
    display: block;
}

.sidebar .items li.separator .horizontal-strike {
    display: inline-block;
    color: #ccc;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-clip: content-box;
    border-bottom: 1px solid #ccc;
    line-height: .1em;
    margin: 10px 0 20px;
}

.sidebar .items li.separator span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
}

.sidebar .items li+li.separator {
    padding-top: 2em;
}

.sidebar .items li:not(.separator) {
    cursor: pointer;
}

.sidebar .items li {
    min-width: 150px;
    line-height: 250%;
    font-size: 14px;
    font-family: 'Segoe UI';
    padding: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar .items li .loaded {
    font-weight: 500;
}

.sidebar.crumb > .items li {
    overflow: visible;
}

.sidebar .items li > i,
.sidebar .items li::before {
    font-family: FontAwesome;
    width: 20px;
    display: inline-block;
    font-weight: normal;
    opacity: .7;
}

.sidebar .items li.active:not(.separator)
{
    background-color: #cee1f2;
}

.sidebar .items li:hover:not(.separator)
{
    background-color: #e7f0f8;
}

.sidebar .items li a {
    color: inherit;
}

.sidebar .content {
    left: 0;
}

.sidebar-nav-content,
.sidebar .content {
    right: 0;
    position: absolute;
}

.sidebar-nav-content,
.sidebar.nav .content {
    left: 215px;
}

.sidebar-nav-content {
    top: 14px;
}

.sidebar:not(.nav) .items {
    visibility: hidden;
}

.sidebar > vtabs:last-child .items {
    bottom: 0;
}

.sidebar hr {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.sidebar .crumbs {
    position: absolute;
    top: 1em;
    white-space: nowrap;
}

.sidebar.nav .crumbs {
    left: 230px;
}

.sidebar .crumbs li {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 13px;
}

.sidebar .crumbs li:hover a {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #0077ce; /* themes.blue.css */
}

.sidebar .crumbs li a {
    color: inherit;
}

.sidebar .crumbs li:not(:first-of-type):before {
    opacity: .7;
    padding: 0 6px;
    content: ">";
}

.sidebar .content {
    border-left: solid 1px #ccc;
}

.list-action-button {
    display: inline-flex;
    font-weight: 500;
    border: 0px;
}

.row.grid-item.selected-for-edit {
    background-color: #cce1f1;
}

.breadcrumbs {
    font-size: 14px;
    display: inline;
    position: sticky;
    display: inline-block;
    margin-block-end: 0%;
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-left: 10px;
}

.breadcrumbs li {
    float: left;
}

.breadcrumbs li span.root {
    font-weight: bold;
}

.breadcrumbs .separator {
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.breadcrumbs .pointer:hover {
    text-decoration: underline;
}

.breadcrumbs button {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
}

.model-header {
    line-height: 2em;
    vertical-align: middle;
}

.close-button {
    float: right;
    border: none;
}

.processing-large {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}

.processing-large i {
    padding: 5px;
}
