.red {
    color: #e47674;
}

.manila {
    color: #FFE68E
}

.border-color,
.form-control,
.dataGroup,
.grid-list .grid-item {
    border-color: #333;
}

.background-normal {
    background-color: black;
}

.color-normal,
.bttn,
.form-control {
    color: #D7D7B5;
    background-color: black;
}

a:hover,
a:focus {
    color: inherit;
}

.hover-color-active:hover,
.color-active,
a {
    color: #8b4298;
}

.background-active,
.hover-active:hover,
button:active, 
button.active, 
button:hover,
.bttn:active,
.bttn:hover  {
    background-color: #8b4298;
    color: white;
}

.background-selected,
.background-selected.hover-editing:hover {
    background-color: #81679b;
}

.border-active,
button,
.bttn.bordered {
    border-color: #8b4298;
}

.color-accent,
h2 {
    color: #90A01C;
}

.background-accent {
    background-color: #90A01C;
}

.hover-accent:hover {
    color: #90A01C;
}

.border-accent,
.collapse-heading,
hr {
    border-color: #90A01C;
}

.hover-warning:hover {
    background-color: #966c01;
}

.background-warning,
button.background-warning:active,
button.background-warning.active {
    background-color: #966c01;
}

.border-warning {
    border-color: #966c01;
}

.color-error {
    color: #ff0000;
}

.color-antiactive,
.bttn:hover i.fa,
button:hover i.fa,
button:active i.fa,
button.active i.fa {
    color: white;
}

border-antiactive {
    border-color: black;
}

.background-editing {
    background-color: #291d35;
}

.hover-editing:hover {
    background-color: #291d35;
}

.background-list {
    background-color: #535d53;
}

.background-list.odd {
    background-color: #444845;
}

input.highlight {
    background-color: lightgoldenrodyellow;
}

input:required:invalid,
input.ng-invalid,
input.ng-invalid:focus {
    border-left-color: red;
}

.inactive,
button.inactive i.fa {
    color: #777;
}

button.inactive,
.border-active.inactive {
    border-color: #777;
}

.placeholder {
    color: #999;
}

/* Disabled */

[disabled] button,
[disabled] .bttn,
button[disabled],
.bttn[disabled] {
    border-color: #ccc;
    color: #ccc;
}

[disabled] button i.fa,
[disabled] .bttn  i.fa,
button[disabled] i.fa,
.bttn[disabled]  i.fa {
    color: #ccc;
}

span[disabled],
a[disabled] {
    color: #ccc;
}

[disabled] input {
    background: #eee;
}

[disabled] .background-active {
    background-color: #eee;
    color: #444;
}

[disabled] .collapse-heading {
    pointer-events: all;
}

[disabled] .border-active,
[disabled] .bttn {
    border-color: #ccc;
}

[disabled].form-control {
    background-color: #555;
    color: #999;
}