html,body {
    font-family: 'Segoe UI', sans-serif;
}

.green {
    color: #3c763d;
}

.orange {
    color: rgb(255,185,0);
}

.blue {
    color: #337ab7;
}

.status {
    text-transform: capitalize;
}

.started.status,
.started .status {
    color: #32842f;
}

.stopped,
.stopped a {
    color: #757575;
}

.expired,
.expired a {
    color: #ff0000;
}

.border-green {
    border-color: #3c763d;
}

.border-red {
    color: #a94442;
}

.units {
    color: #777;
}

button,
.bttn,
input,
select {
    background-color: transparent;
}